[ req ]
default_bits       = 4096
default_keyfile    = scheduler_key.pem
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = MyOrganization
OU = MyDepartment
CN = localhost

[ v3_req ]
subjectAltName = @alt_names
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
basicConstraints = CA:FALSE

[ alt_names ]
DNS.1 = localhost
IP.1 = 127.0.0.1
